body{
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    color: darkblue;
}

.header__logo{
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

.header__nav{
    display: flex;
}

.header__list{
    margin-left: 15px;
    list-style: none;
}

.header__list  a{
    text-decoration: none;
    color: darkblue;
}

.firstview{
    margin-top: 150px;
    position: relative;
}

.firstview__inner{
    position: absolute;
    top: 70%;
    left: 0;
    z-index: -1;
}

.firstview__ttl{
    font-size: 60px;
    margin-bottom: 5px;
    font-weight: 300;
}

.firstview__bg{
    background-color: darkblue;
    width: 70vw;
    height: 18vh;
}

.firstview__img{
    width: 50%;
    margin: 0 0 0 auto;
}

.firstview__img img{
    width: 100%;
}